.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  width: 25%;
  min-width: 30em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #fff;
  background-color: $brand-grey--light;
}

.header__title {
  align-items: flex-end;
  transform: translateY(-1px);
}
