{% set settings = settings | default({}) | merge({
  "siteName"      : "Northern Lights Agency",
  "siteDesc"      : "Since 2004, Northern Lights Agency has been and continues to be one of Manchester’s leading fashion agencies."
}) %}

<!doctype html>

<html lang="en" class="no-js">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="{{ settings.siteDesc }}">
    <title>{{ settings.siteName }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="{{ settings.siteName }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="dns-prefetch" href="//google-analytics.com">

    <link rel="stylesheet" href="/assets/styles/main.css">

  </head>

  <body>

    <div class="app" id="js-app">

      <header class="header" id="js-header" role="banner">
        <div class="preloader" id="js-preloader"></div>
        <div class="l-flex  l-flex--row">
          <div class="logo  l-flex__item">
            <a href="/">
              <svg class="logo__icon" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200"><path fill="#FFF" d="M100 6.5C48.444 6.5 6.5 48.444 6.5 100s41.944 93.5 93.5 93.5 93.5-41.944 93.5-93.5S151.556 6.5 100 6.5zm0 175c-44.94 0-81.5-36.56-81.5-81.5S55.06 18.5 100 18.5s81.5 36.56 81.5 81.5-36.56 81.5-81.5 81.5z"/><g><path fill="#FFF" d="M57.277 78.068H69.38v8.518l.227.224c1.94-3.212 4.483-5.734 7.62-7.565 3.138-1.83 6.613-2.746 10.425-2.746 6.35 0 11.355 1.643 15.017 4.93 3.66 3.29 5.49 8.22 5.49 14.795v39.79H95.386V99.587c-.15-4.557-1.12-7.864-2.914-9.92-1.793-2.054-4.594-3.082-8.405-3.082-2.168 0-4.11.392-5.826 1.176-1.723.785-3.18 1.87-4.374 3.25-1.196 1.384-2.13 3.008-2.802 4.875-.67 1.87-1.01 3.848-1.01 5.94v34.184H57.277V78.07zM121.947 55.988h12.775v80.024h-12.775V55.988z"/></g></svg>
            </a>
          </div>
          <div class="l-flex__item  l-flex--center">
            <h1 class="header__title  t-heading  t-ff-sans-serif  u-mb0x">Northern Lights Agency</h1>
          </div>
        </div>
      </header>

      <main class="main  is-preloading" id="js-main" role="main">
        {% block content %}
        {% endblock %}
      </main>

      <footer class="footer" id="js-footer" role="contentinfo">

      </footer>

    </div>


    <script async src="/assets/scripts/bundle.js"></script>

  </body>

</html>
