// typeface

$ff-facto:                'Facto', 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif;
$ff-merriweather:         'Merriweather', Palatino, Georgia, serif;
$ff-sans-serif:           'Helvetica Neue', Helvetica, Arial, sans-serif;

$ff-base:                 $ff-facto;

// colors

$brand-grey:              #777;

$base-color:              #111;
$base-background:         #fff;
$base-link:               $base-color;
