// typeface

$ff-facto:                'Facto', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-serif:           'Helvetica Neue', Helvetica, Arial, sans-serif;

$ff-base:                 $ff-facto;

// colors

$brand-grey:              #777;
$brand-grey--light:       #eee;
$brand-grey--dark:        #333;

$base-color:              #111;
$base-background:         #fff;
$base-link:               $brand-grey;
